@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;1,400&display=swap');

/* Afecta SOLO al header */
.header-box * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header-box {
    width: 100%;
    font-family: sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

.header-box header {
    background-color: #1a1a1a;
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

.header-box .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-box .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-box .input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
}

.header-box button {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.header-box .logo-1,
.header-box .logo-2 {
    max-width: 100px;
    height: auto;
}

.header-box .logo-1 {
    display: none;
}

.header-box .navbar {
    display: flex;
    align-items: center;
}

.header-box .menu-1 ul,
.header-box .menu-2 ul {
    display: flex;
}

.header-box .navbar ul li a {
    font-size: 16px;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.3s;
}

.header-box .navbar ul li a:hover {
    color: #ff4500;
    border-bottom: 4px solid #fff;
}

.header-box .menu-1 {
    margin-right: 20px;
}

.header-box .Redirecciones {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-box .Redirecciones a {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.header-box .Redirecciones img {
    width: 100%;
    height: 100%;
}

.header-box #menu {
    display: none;
}

.header-box label[for="menu"] {
    cursor: pointer;
    order: 2;
}

.header-box label[for="menu"] .logo-2 {
    display: none;
    width: 30px;
    height: 30px;
}

.header-box .header-content.container {
    padding: 50px 15px 80px 15px;
    overflow: hidden;
}

@media (max-width: 991px) {
    .header-box .menu {
        padding: 0 10px;
    }

    .header-box label[for="menu"] .logo-2 {
        display: block;
    }

    .header-box .logo-1 {
        order: 1;
        max-width: 80px;
    }

    .header-box .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #000;
        border-top: 1px solid #333;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
        display: block;
        z-index: 100;
    }

    .header-box #menu:checked ~ .navbar {
        height: auto;
        padding: 20px 0;
    }

    .header-box .navbar ul {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    .header-box .navbar ul li a {
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid #333;
    }

    .header-box .menu-2 {
        margin-right: 0;
        padding: 10px 0;
    }

    .header-box .Redirecciones {
        justify-content: center;
        margin-top: 20px;
        margin-left: 0;
    }
}
