body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Portada */
.portada {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.portada img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.portada button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  font-size: 18px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/* Productos */
#productos {
  display: none; /* Oculto hasta que se de clic */
  padding: 40px;
  text-align: center;
}

.grid-productos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.producto {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s;
}

.producto:hover {
  transform: scale(1.05);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.modal-contenido img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.cerrar {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  cursor: pointer;
}
